extends layout

block content
    h1 User Detail
    ul
        li ID: #{user.id}
        li Name: #{user.firstName} #{user.lastName}
        li Company: #{user.company}
        li Email: #{user.email}